Options +FollowSymLinks  
RewriteEngine On  
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f 

RewriteRule ^index*$ ./index.php
RewriteRule ^inicio*$ ./index.php

RewriteRule ^nosotros*$ ./nosotros-plastictrends.php
RewriteRule ^contacto*$ ./contacto-plastictrends.php
RewriteRule ^distribucion*$ ./distribucion-plastictrends.php

RewriteRule resultados*$ ./resultados-plastictrends.php
RewriteRule ^catalogo*$ ./catalogo-plastictrends.php
RewriteRule ^catalogo/(.*)$ ./catalogo-plastictrends.php?page=$1
RewriteRule ^productos/(.*)$ ./producto-plastictrends.php?url_producto=$1

RewriteRule ^categoria/([^/\.]+)/?$ categoria-plastictrends.php?url_categoria=$1 [L,QSA]

RewriteRule ^css/colores.css$ css/colores.php [L]
